.container {
  border: 1px solid #4c4c4c;
}
.header {
border: 1px solid #4c4c4c;
background-color: #171717;
} 

.searchBox {
  width: 270px;
  height: -webkit-fill-available;
  padding: 10px 7px;
  border-right: 1px Solid #4c4c4c;
}

.searchinp {
  border: 1px solid #4c4c4c;
}