.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid #4c4c4c;
  box-sizing: border-box;
  overflow: hidden;
}
.header {
  display: flex;
  background-color: #171717;
} 

.boxContent {
  display: flex;
  flex: 1;
  overflow: hidden;
  border-top: 1px solid #4c4c4c;
}

.searchBox {
  width: 316px;
  //height: -webkit-fill-available;
  padding: 10px 7px;
  border-right: 1px Solid #4c4c4c;
}

.currentUser {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 20px;
}

.searchinp {
  border: 1px solid #4c4c4c;
}

.usersList {
  display: inline-flex;
  flex-direction: column;
  width: 328px;
  border-right: 1px Solid #4c4c4c;
  background-color: #171717;
  .userBlock:last-child {
    border-bottom: none;
  }
}

.containerDialogs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.change{
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.afterChange {
  display: contents;
}

