.footerContainer {
  border-top: 1px solid #4c4c4c;
  width: 100%;
}

.previewPhotoBox {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;

  img {
    width: 40px;
    height: 40px;
  }

  .closePhoto {
    position: absolute;
    top: 0;
    right: 0;

    cursor: pointer;
  }
}

.inputBox {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 5px;

  p {
    color: #397DF6;
    white-space: nowrap;
  }
}

.messageInput {
  width: 100%;
  input {
    &:focus {
      outline: none !important;
    }
  }
}

.iconBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconBox .icon {
  position: absolute;
  right: 0;
  display: flex;
  gap: 10px;
  border: none;
  transition: all 0.3s ease-in-out;
}

.iconBox .icon.hidden {
  opacity: 0;
  pointer-events: none;
}

.iconBox .icon.visible {
  opacity: 1;
}