.messagesSide {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.messageOwner {
  padding: 5px 10px;
  background-color: #333333;
  border-radius: 8px;
  max-width: 400px;
  min-width: 200px;
  margin-left: 7px;
  overflow-wrap: break-word;

  &:first-child {
    margin-bottom: 3px;
  }
}

.rightSide {
  margin-left: auto;
  background-color: #234E99;
}

.messageAndDateIde {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.checkMark {
  color: var(--color-light-700)
}