.messagesSide {
  display: flex;
  flex-direction: column;
}

.messageOwner {
  padding: 5px 10px;
  background-color: #234E99;
  border-radius: 8px;
  width: fit-content;
  margin: 0 0 20px 15px;

  &:first-child {
    margin-bottom: 3px;
  }
}

.rightSide {
  margin-left: auto;
  margin-right: 10px;
}